*{margin:0;padding:0}
body,html{font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;background:#fff;font-size:14px;color:#666;}
body{overflow:scroll;overflow-x:hidden;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;}
fieldset,img{border:0;}
ol,ul{list-style:none;}
i{font-style:normal;}
input,select,textarea{font-family:inherit;font-size:inherit;font-weight:inherit;}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sup{top:-.5em;}
sub{bottom:-.25em;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:400;}
address,cite,code,dfn,em,strong,var{font-style:normal;font-weight:400;}
q:after,q:before{content:'';}
abbr,acronym{border:0;font-variant:normal;}
iframe{display:block;}

a{text-decoration:none;cursor:pointer;color: inherit;color:#666;}
.clear:after ,.clearfix:after{content:'\20';display:block; height:0;line-height:0;font-size:0;clear:both;visibility:hidden;}
.clear,.clearfix{*zoom:1;} /* for ie*/

/*信息-备注*/
.beizhuBox .el-tag .el-icon-close{position:absolute;right:6px;top:8px;}

/*关于商品*/
.el-tabs__nav{width:100%;}
.el-tabs__item{width:33.333%;text-align:center;}
.el-collapse-item__header{background:#f5f5f5;font-weight:bold;padding:0 15px;}